<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Iniciar Sesión</title>
    
</head>

<body>
    <section class="section">
        <div class="container is-max-desktop">
            <h1 class="title">Iniciar Sesión</h1>
            <form method="GET">
                <label class="label">Correo</label>
                <input type="email" class="input is-rounded" id="correo" placeholder="Correo Electronico">
                <label class="label">Contraseña</label>
                <input type="password" class="input is-rounded" id="contraseña" placeholder="Contraseña">
                <br>
                <br>
                <input class="button is-primary" type="submit" value="Iniciar" id="inicio">
            </form>
            <script type="text/javascript" src="new_login.js"></script>
            <br>
            <br>
            <a href="registro.html"><button class="button is-primary">Registrarse</button></a>
        </div>
    </section>
</body>

</html>