<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Registro</title>
</head>

<body>
    <section class="section">
        <div class="container is-max-desktop">
            <form method="post">
                <h1 class="title">Crear Usuario</h1>
                <label class="label">Correo</label>
                <input type="email" id="correo" class="input is-rounded" placeholder="Correo Electronico">
                <label class="label">Contraseña</label>
                <input type="password" id="password" class="input is-rounded" placeholder="Contraseña">
                <label class="label">Confirmar Contraseña</label>
                <input type="password" id="confirmacion" class="input is-rounded" placeholder="Confirmar Contraseña">
                <br>
                <br>
                <input class="button is-primary" value="Registrar" type="submit">
            </form>
            <br>
            <a href="index.html"><button class="button is-primary">Iniciar Sesion</button></a>
            <script type="text/javascript" src="registro_usuario.js"></script>
        </div>
    </section>
</body>
</html>